{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Weather App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}Weather Wise{% endblock %}</h1>
        
        {% block navbar %}
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Weather</a></li>
                <li><a href="{% url 'default_profile' %}">Account</a></li>
                <li><a href="{% url 'login' %}">Logout</a></li>
            </ul>
        </nav>
        {% endblock %}
        
    </header>
    
    <main>
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </main>
    
    <footer>
        <p>© 2025 Weather Wise | Made By Josh Croly</p>
    </footer>
</body>
</html>
